* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  padding-inline-start: 10%;
  padding-inline-end: 10%;
  background-color: rgba(21, 182, 226, 0.781);
  box-shadow: 15px -2px 63px 13px rgba(230, 7, 174, 0.908);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#wrapper {
  text-align: left;
  margin: 0;
}

#wrapper h1 {
  font-size: 4rem;
  padding-top: 50px;
  color: rgb(204, 121, 204);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
  padding: 30px 0;
  width: 100%;

  /* margin: auto; */
  border-radius: 5px;
}

.container {
  /* border: 2px solid red; */
  gap: 40%;
}

h3 {
  font-size: 2rem;
  text-align: left;
  color: rgb(187, 110, 176);
}

.first-part {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.second-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

button {
  background-color: yellow;
  color: rgb(27, 15, 15);
  height: 30px;
  border-radius: 10%;
  border: none;
}

button:hover {
  border: 2px solid rgb(212, 14, 223);
}

input {
  width: 100%;
  height: 30px;
  background-color: yellow;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.refresh {
  position: absolute;
  top: 38%;
  left: 90%;
}

.submit {
  position: absolute;
  top: 62%;
  left: 83%;
}

th {
  background-color: yellow;
  height: 30px;
  color: rgb(195, 33, 128);
}

td {
  padding-left: 10px;
}

.table-score {
  width: 100%;
  margin-top: 1rem;
  overflow-y: scroll;
}

.table-score td {
  border: 1px solid rgb(15, 220, 141);
  padding: 5px;
}

.table-score tr:nth-child(even) {
  background-color: rgba(15, 22, 157, 0.39);
  color: #fff;
}

.table-score tr:nth-child(odd) {
  background-color: rgba(20, 118, 93, 0.781);
  color: #fff;
}

.table-score tr:hover {
  background-color: rgb(192, 123, 186);
  color: #fff;
}
